[Desktop Entry]
Type=Application
Name=WRL Forge
Comment=A modern VRML97 creation, inspection, validation, and packaging workbench for Cybertown items and worlds.
TryExec=wrl-forge
Exec=wrl-forge %f
Icon=wrl-forge
Terminal=false
Categories=Graphics;
MimeType=model/vrml;
StartupNotify=true
